<!DOCTYPE html>
<html>
 <head>
  <meta name="csrf-param" media="all" content="authenticity_token" />
  <title>WebCampBackendNew</title>


 </head>

 <body>
  <h1>ようこそ Bookers へ！</h1>

  <p>
   <strong>Bookers</strong>
   では、さまざまな書籍に関するあなたの意見や
   <br>印象を共有し交換することができます</br>
  </p>

  <%= link_to "start", books_path %>
 </body>
 <div id="UMSSendDataEventElememt" date="https://bookers-level1.herokuapp.com/books" docguid="null" style="display: none;">
  init
 </div>
</html>